@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #06283d;
}

.main__comtainer {
  position: relative;
  width: 400px;
  height: auto;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 34px;
  border-radius: 20px;
  transition: 0.5s ease-out;
}
.find__location {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.find__location input {
  color: #06283d;
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 15px;
}
.find__location input::placeholder {
  color: #06283d;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}
button {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 28px;
}
.button:hover {
  background-color: #0c5f92;
}

.weather__comtainer {
  display: none;
  text-align: center;
}

.weather__comtainer img {
  width: 60%;
}
.temperature {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}
.description {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 10px;
}

.not__found {
  display: none;
  text-align: center;
  font-size: 25px;
  animation-delay: 0.5s;
}
.error__img {
  max-width: 300px;
  max-height: 300px;
}
.weather__deails {
  animation-delay: 0.5s;
  padding-top: 20px;
  display: grid;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 1%;
  row-gap: 20%;
  align-items: center;
  justify-content: space-around;
}
.humidity,
.visibility,
.wind,
.pressure {
  display: flex;
  align-items: flex-end;
  animation-delay: 0.5s;
}
.text {
  display: grid;
  grid-template-columns: 1fr;
  align-content: space-evenly;
  row-gap: 5%;
  margin-bottom: 9px;
}
.text p,
span {
  padding-left: 10px;
  font-family: "Merriweather", serif;
  font-size: 13px;
  font-weight: 500;
}
.not__found {
  scale: 0;
}
.weather__comtainer,
.weather__deails {
  scale: 0;
  opacity: 0;
}
.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
